.neonText {
    color: #fff;
    text-shadow:
      0 0 14px #fff,
      0 0 20px #fff,
      0 0 42px #fff,
      0 0 84px #5271ff,
      0 0 164px #5271ff,
      0 0 184px #5271ff,
      0 0 204px #5271ff,
      0 0 302px #5271ff;
}

body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background: url("image/bg.jpg") #010a01 no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin:0;
  overflow:hidden;
	
}

  #clock {
  color: rgb(0,0,128);
  font-size: 15vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  overflow:hidden;
  /*animation: pulsate 0.11s ease-in-out infinite alternate;*/
  /*transform: skewX(-10deg);*/
}

#ship{
  background: url("image/ship.png") no-repeat;
  background-size: contain;
  z-index:-1;
  position: fixed;
  display: block;
  top:0;
  left:0;
  height: 0;
  width: 0;
  opacity:1;

}

.move-ship{
  animation: move 8s ease;
}

@keyframes move{
  0%{width: 0;height: 0;filter: brightness(0%) blur(2px);}
  99%{width: 100%;height: 100%;filter: brightness(100%) blur(0px) sepia(50%);}
  100%{width: 320%;height: 320%;}
}


.scale{

  animation: scale 2s ease-out;
}

@keyframes scale {
	100%{transform: scale(1);}
	80%{transform: scale(0.8);}
	50%{transform: scale(0);}
	0%{transform: scale(1);}
	
}

  
@keyframes pulsate {

    100% {

        text-shadow:
                0 0 8px #fff,
                0 0 22px #fff,
                0 0 38px #fff,
                0 0 80px #5271ff,
                0 0 160px #5271ff,
                0 0 180px #5271ff,
                0 0 200px #5271ff,
                0 0 300px #5271ff;

    }

    0% {

        text-shadow:
                0 0 8px #fff,
                0 0 20px #fff,
                0 0 36px #fff,
                0 0 76px #5271ff,
                0 0 146px #5271ff,
                0 0 160px #5271ff,
                0 0 188px #5271ff,
                0 0 280px #5271ff;

    }
}


